MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/genesis2k26?retryWrites=true&w=majority
GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END RSA PRIVATE KEY-----"
GOOGLE_SHEET_ID=your_google_sheet_id_here
ADMIN_PASSWORD=your_super_secret_admin_password
UPSTASH_REDIS_URL=https://your-redis-url.upstash.io
UPSTASH_REDIS_TOKEN=your_upstash_redis_token
